.card {
	width: 384px;
	border-radius: 4px 4px 0px 0px;
	border: 2px solid #eeeeff;
	display: flex;
	flex-direction: column;
	gap: 12px;
	& > div {
		display: flex;
		flex-direction: column;
		gap: 12px;
		padding: 32px 24px;
	}
}

h4 {
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
}

p {
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}

img {
	width: 100%;
}

@media (max-width: 900px) {
	.card {
		width: 335px;
	}
}

@media (max-width: 500px) {
	.card {
		width: 327;
	}
}
